@media (min-width: 320px) and (max-width: 375px){
	.main-nav .promo-block.desktop {
		display: block!important;
		padding:0 10px 0 5px!important;
	}
	.main-nav .bshelper .hidden-xs {
		display: block!important;
	}
	.main-nav .header-flag {
		display: none!important;
	}
}

@media (max-width: 375px) {
	.main-nav .promo-block--image .hidden-xs {
		max-height: 25px;
		margin-right: -3rem;
		margin-left: -1rem;	
	}
}

body.page-6491 .page-header div.text-wrap.vertical-align {
	display: table!important;
}
@media (min-width: 861px){

footer .bottom .col a img { 
    max-height: 75px;
}

footer .bottom .col .split a {
	width: 90px;
}

}

.homepage .act-showcase-acts {
	color: #00E0FF!important;
}

@media only screen and (max-width: 1250px) {
	header.main-nav .header-flag {
		display: none;
	}
	header .promo-block.promo-block--image {
		display: none;
	}
	.promo-block.desktop {
		display: block!important;
		margin-right: -8px;
		background-color:#00fbb1!important
	}
	.promo-block.desktop div {
		color: #221a3e!important
	}
}

.mob-menu-2018 {
	background-image: url(/assets/images/mobile-logo.svg);
	background-repeat: no-repeat;
	background-position: 70px center;
	background-size: auto 16px;
}

@media only screen and (max-width: 520px) {
	.mob-menu-2018 button.hamburger {
		transform: scale(0.8);
	}
	header.store-nav {
		height: 40px;
		line-height: 40px;
	}
	
	header.store-nav .action {
		display: none!important
	}

}

@media (min-width: 500px){

	.mob-menu-2018 {
		background-position: center center;
	}

}

