// -----------------------------------------------------------------------------
// This file contains all styles related to the flag module on the homepage
// -----------------------------------------------------------------------------

.feature-block{
	height: 65vh;
	background: $mid-grey;
	overflow: hidden;
	width: 100vw;
	position: relative;
	margin: 0 0 6rem 0;
	padding: 0;

	.shadow{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
	}

	.media-wrap{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.flag-block{
		position: absolute;
		width:100%;
		height: 100%;
		top:0;
		left: 0;
		z-index: 5;
		background-size: cover !important;
		background-position: center !important;

		.vertical-align{
			height: 100%;
			text-align: center;
		}

		.flag-top{
			h5, div{
				display: inline-block;
				color: $white;
			}
		}
		.flag{
			transform-origin:0 0;
			height: 100%;
			width: 100%;
		    background-size: 100% !important;
		    background-repeat: no-repeat!important;

		    &.animated{
		    	height: 267px;
				width: 475px;
		    	background-size: 1600% 1200% !important;
		    }

		}

		.feature-flag{
			display: block;
			margin: 0 auto;
			vertical-align: middle;
			h5, .flag{
				display: inline-block;
			}
			svg {
				max-width: 90vw;
				@include media(">phone") {
					width: 69rem;
				}
			}
		}
		.flag-text{
			@extend .visually-hidden;
		}
		.price-badge {
			right: 10%;
			bottom: 8%;
			position: absolute;
			width: 12rem;
			@include media("<=phone") {
				right: 5%;
				bottom: 4%;
				width: 10rem;
			}
		}
		.video-play {
			right: -.5rem;
			top: .25rem;
			position: relative;
			width: 7.5rem;
			margin: auto;
			svg polygon.a {
				transition: all ease .6s;
			}
			&:hover svg polygon.a {
			  transform: scale(1.05);
			  transform-origin: center;
			}
		}
		h5{
			display: inline-block;
			margin-bottom: 1rem;
		}
		h3{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		h1{
			color: $white;
		}
	}
	.cover{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img, video{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			min-width: 50%;
			min-height: 50%;
		    height: auto;
			overflow-x: hidden;
			z-index: 1;

			&.cover-image{
				z-index: 2;
			}
		}

	}
}
.objectfit{
	.cover{
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		&.parallax {
			img {
				height: 100%;
				width: 100%;
				position: absolute;
			}
		}
		img, video{
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			object-fit: cover;
		}
	}
}