// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
	@extend .clearfix;
	background: $mid-grey;
	text-align: left;
	position: relative;
	float: left;
	width: 100%;

	h6{
		color: #cfcdd4;
		text-transform: uppercase;
		margin: 0;
	}

	p, a{
		padding: 0;
		color: $text;
		border-bottom: none;
	}

	.top, .bottom{
		float: left;
		width: 100%;
		// margin-bottom: ($visual-rhythm * 2);
	}
	.left-section{
		width: 100%;
		float: left;
		position: relative;
		z-index: 2;
		padding: ($visual-rhythm * 2);
		background: $dark_highlight;

		@include media(">tablet") {
			width: 37%;
			margin-right: 6%;
			background: none;
		}
		@include media(">desktop") {
			margin-right: 3%;
			width: 27%;
		}
		p,a{
			color: $white;
		}

		.footer-text{
			margin-bottom: 1em;
		}

		.social{
			margin-bottom: $visual-rhythm;
			a{
				width: 30px;
				height: 29px;
				background: #fff;
				border-radius: 50%;
				padding: 0;
				vertical-align: middle;
				overflow: hidden;
				display: inline-block;
				margin-right: 5px;
				margin-bottom: 5px;
				img{
				    padding: 6px;
					height: 100%;
					width: auto;
				}
			}
		}

		form{
			@extend .clearfix;
			width: 100%;
			margin-bottom: $visual-rhythm;

			input{
				padding: 10px !important;
				float: left;
				margin-bottom: 0;
				border: none;
				outline: none;
			}

			textarea:focus, input:focus{
			    outline: none;
			}

			input[type=text]{
				width: 100%;
				@include media(">desktop") {
					width: 60%;
				}
			}
			input[type=submit]{
				background: $highlight-two;
				width: 100%;
				&:hover{
					background: $highlight-two;
					cursor: pointer;
					color: $text;
				}
				@include media(">desktop") {
					width: 40%;
				}
			}
		}
	}

	.right-section {
		position: relative;
		z-index: 2;
		width: 100%;
		float: left;
		padding: 4rem 4rem 0 4rem;

		@include media(">tablet") {
			width: 56%;
		}

		@include media(">desktop") {
			width: 70%;
		}


		.col{
			width: 100%;
			float: left;
			text-align: left;
			margin-bottom: $visual-rhythm;
			a{
				display: block;
			}
		}
		.span-full{
			width: 100%;
		}
		.span-two-thirds{
			width: 100%;
			@include media(">desktop") {
				width: 66.666%;
			}
		}
		.span-third{
			width: 100%;
			@include media(">phone") {
				width: 50%;
			}
			@include media(">desktop") {
				width: 33.333%;
			}
		}
	}
	.bottom{
		margin-bottom: 40px;
		.col{
			.split{
				display: inline;
				@extend .clearfix;
				@include media(">tablet") {
					display: block;
					float: left;
					width: 100%;
					a{
						width: 80px;
					}
				}
			}
			a{
				width: 50%;
				float: left;
				@include media(">phone") {
					width: auto;
				}
				display: inline-block;
				text-align: center;
				img{
					display: inline-block;
					max-height: 60px;
					width: auto;
					margin-right: 0px;
				}
			}
		}

	}
	.slant{
		@extend .skew;
		background: $dark_highlight;
		position: absolute;
		width: 60%;
		height: 100%;
		right: 60%;
		z-index: 1;
		-webkit-transform: skew(8deg);
		-ms-transform: skew(8deg);
		transform: skew(8deg);
		display: none;

		@include media(">tablet") {
			display: block;
		}

		@include media(">desktop") {
			right: 71%;
			-webkit-transform: skew(12deg);
		    -ms-transform: skew(12deg);
		    transform: skew(12deg);

		}
	}
}