.image-link-block{
	width: 100%;

	.slice-inner{
		margin-top: 0px;
	}
	.image-link{
		$helper: 35rem;
		$helper_two: 35rem;
		float: left;
		width: 100%;
		height: 56.25vw;
		position: relative;
		overflow: hidden;
		padding-bottom: 0px;
		@include media(">tablet") {
			width: 50%;
			height: 30vw;
		}
		a{
			border: 0px;
		}
		&:nth-child(1n+1) {
			@include media(">tablet") {
				width: calc( (100% - #{$helper}) * 0.5);
				padding-right: 0px;
				padding-left: 0;
			}
		}
		&:nth-child(2n+2){
			@include media(">tablet") {
				width: calc( (100% + #{$helper_two}) * 0.5);
				padding-left: 0px;
				padding-right: 0;
			}
		}
		&:nth-child(3n+3) {
			@include media(">tablet") {
				width: calc( (100% - #{$helper}) * 0.5);
				padding-right: 0px;
				padding-left: 0;
			}
		}
		&:nth-child(4n+4){
			@include media(">tablet") {
				width: calc( (100% + #{$helper}) * 0.5);
				padding-left: 0px;
				padding-right: 0;
			}
		}

		.link-inner{
			@extend .clearfix;
			position: relative;
			display: block;
			height: 100%;
			overflow: hidden;
		}

		.text-wrap{
			width: 100%;
			height: 100%;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			padding-left: 0px;
			position: absolute;
			z-index: 2;
			h3{
				color: $white;
				padding-bottom: $visual-rhythm;
			}
			p{
				max-width: 550px;
				text-align: center;
				padding-bottom: $visual-rhythm;
			}
		}

		.cover{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img, video{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				min-width: 50%;
				min-height: 50%;
				overflow: hidden;
				z-index: 1;

				&.cover-image{
					z-index: 2;
				}
			}
		}
	}
}

.objectfit .image-link{
	.cover{
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		&.parallax {
			img {
				height: 100%;
				width: 100%;
				position: absolute;
			}
		}
		img, video{
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			object-fit: cover;
		}
	}
}