.page-547306 {

    .content .line-up {
        background-image: url(/assets/images/Hochfirst.jpg);
    }

    .content .line-up .container {
        padding: 6rem 1rem;
        background: #151521;

        h2 {
            font-size: 2rem;
            line-height: 2.2rem;

            @include media(">tablet") {
                font-size: 2.4rem;
            }

            @include media(">desktop") {
                font-size: 3.8rem;
            }
        }

        a {
            color: #ffffff;
        }

        .act-break {
            color: #ffffff;
        }
    }
}